.app-container {
  position: relative;
  width: calc(95vw - 220px);
  margin: 20px 20px 0 20px;
  height: 80vh;
  border-radius: 50px;
  background-color: rgba(252, 185, 39, 0.8);
}
.home-container {
  display: grid;
  position: absolute;
  background-color: rebeccapurple;
  top: 5%;
  left: 5%;
  width: 90%;
  height: 90%;
}

@media screen and (max-width: 600px) {
  .app-container {
    width: 100vw;
    margin: 10px 0 0 0;
  }
}
