.home-container {
  display: none;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: inherit;
  height: inherit;
  padding: 15px;
  max-height: min-content;
  border-radius: inherit;
  gap: 20px;
}
.latest-goals,
.latest-tasks,
.priority-tasks,
.deadline-tasks {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-bottom: 10px;
  text-align: center;
  height: max-content;
  width: calc(100% - 100px);
}
.latest-goals h1,
.latest-tasks h1,
.priority-tasks h1,
.deadline-tasks h1 {
  color: #f6821f;
  font-weight: 800;
  text-decoration: underline;
}
.latest-goals,
.latest-tasks,
.priority-tasks {
  border-bottom: 1px solid black;
}
