/* Add application font */
@font-face {
  font-family: "corey";
  src: url("../fonts/CoreySans-Light.ttf");
}
/* CSS Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "corey", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
/* Main section styling */
.section-main {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  padding: 20px;
}
/* Home, goal and task container styling */
.app-container {
  display: flex;
  width: calc(95vw - 220px);
  border-radius: 10px;
  padding: 30px;
  background-color: rgba(252, 185, 39, 0.3);
}
/* Close view button styling*/
.close-btn,
.close-btn {
  position: absolute;
  border: none;
  background: transparent;
  right: 20px;
  top: -60px;
  transition: all 200ms ease;
}
.close-btn:hover,
.close-btn:hover {
  transform: scale(1.5);
  color: #e03a3c;
  cursor: pointer;
}
.close-btn:active,
.close-btn:active {
  transform: scale(1.7);
  color: #e03a3c;
}
/* Modal styling */
.modal {
  display: none;
  text-align: center;
  font-size: 2em;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.7);
}
.modal-content {
  border-radius: 20px;
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 50%; /* Could be more or less, depending on screen size */
}
/* Modal close button */
.modal-close {
  color: #aaa;
  float: right;
  font-size: 40px;
  font-weight: bold;
  transition: all 200ms ease;
}
.modal-close:hover,
.modal-close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
/* Tablet view styling */
@media screen and (max-width: 850px) {
  .section-main {
    flex-direction: column;
    padding: 0;
  }
  .app-container {
    width: 100%;
    margin: 35px 0 0 0;
    border-radius: 0;
  }
  .modal-content {
    border-radius: 0;
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 100%; /* Could be more or less, depending on screen size */
  }
}
/* Mobile view styling */
@media screen and (max-width: 600px) {
  .section-main {
    flex-direction: column;
    padding: 0;
  }
  .app-container {
    width: 100%;
    margin: 30px 0 0 0;
    border-radius: 0;
  }
  .modal-content {
    border-radius: 0;
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 100%; /* Could be more or less, depending on screen size */
  }
}
