/* Add or view task container styling */
.task-container,
.view-task-container {
  display: block;
  text-align: center;
  position: relative;
  width: inherit;
  height: inherit;
}
.add-new-task {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
/* Add or view task heading styling */
.add-new-task h1,
.view-task-container h1 {
  text-decoration: underline;
  margin-bottom: 30px;
}
/* Add new task form styling */
.add-new-task-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.add-new-task-form label {
  font-size: 1.5em;
  text-decoration: underline;
}
.add-new-task-form input {
  min-height: 30px;
  min-width: calc(200px + 40vw);
  border-radius: 5px;
  border: none;
  padding: 0 10px 0 10px;
  text-align: center;
  font-size: 2em;
}
.add-new-task-form select {
  font-size: 1.5em;
  text-align: center;
}
.add-task {
  min-width: calc(100px + 10vw);
  font-size: 1.5em;
  border-radius: 10px;
  border: none;
  background-color: #62bb47;
  color: white;
  padding: 5px;
  transition: all 100ms ease;
}
/* Button hover effect */
.add-task:hover {
  cursor: pointer;
}
.add-task:active {
  transform: scale(1.1);
}
/* === Add new task styling ends here === */
/* === View a task styling starts here === */
.task-info-container {
  display: flex;
  gap: 30px;
}
.view-task-container div {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.task-info-container > div > h3 {
  text-decoration: underline;
  margin-bottom: 10px;
}
.task-info-container > div > p {
  font-size: 1.2em;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 200;
}
.task-info-container button {
  background: none;
  border: none;
  transition: all 200ms ease;
}
.task-info-container button:hover {
  transform: scale(1.5);
  cursor: pointer;
}
.edit-task {
  padding-left: 20px;
  border: none;
  background: none;
}
.edit-task:hover {
  transform: scale(1.5);
  cursor: pointer;
}
/* === View a task styling ends here === */

/* Mobile view styling */
@media screen and (max-width: 600px) {
  /* === Add new task styling starts here === */
  .task-container,
  .view-task-container {
    width: 100%;
  }
  .view-task-container div {
    font-size: 1.2em;
  }
  /* === Add new task styling ends here === */
  /* === View a task styling starts here === */
  /* === View a task styling ends here === */
}
